{% extends 'academics/base.html' %}
{% block title %} Calculator {% endblock %}
{% block body %}
    <table class="table">
        
        <thead class="thead-dark">
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">Grade</th>
          </tr>
        </thead>

        <tbody>
            {% for course in courses %}
                <tr>
                  <td>{{course.name}}</td>
                  <td>
                    <div class="form-group">    
                        <select name="year_id" id="year">
                                <option value = "1"> A </option>
                                <option value = "1"> A- </option>
                                <option value = "1"> B </option>
                                <option value = "1"> B- </option>
                                <option value = "1"> C </option>
                                <option value = "1"> C- </option>
                                <option value = "1"> E </option>
                        </select>
                    </div>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}